<section>
  <app-header-today-forecast></app-header-today-forecast>
  <app-today-weather-information class="today-weather-information"></app-today-weather-information>
  <app-today-weather-secondary-information class="today-weather-secondary-information"></app-today-weather-secondary-information>
  <h1>Chances de Chuva</h1>
  <div class="container">
    <div class="tittle-container">
      <p>Tempestade</p>
      <p>Chuva</p>
      <p>Sol</p>
    </div>
    <div class="grid-graphic">

    </div>
  </div>
</section>
